@import url(fonts/Neon.ttf);
@import url(fonts/avengers.ttf);
@import url(fonts/BTTF.ttf);
@import url(fonts/CHRISTMAS.otf);
@import url(fonts/Spooky.ttf);
@import url(fonts/cs_regular.ttf);
@import url(fonts/Squids.ttf);
@import url(fonts/space.ttf);
@import url(fonts/Starcraft.ttf);
@import url(fonts/Starjedi.ttf);
@import url(fonts/TESLA.ttf);
@import url(fonts/Transformers.ttf);
@import url(fonts/Valorant.ttf);

.neon {    font-family: "Neon";}
.avengers {    font-family: "avengers";}
.bttf {    font-family: "BTTF";}
.christmas {    font-family: "CHRISTMAS";}
.cs {    font-family: "cs_regular";}
.squids {    font-family: "Squids";}
.spaceF {    font-family: "space";}
.spooky {    font-family: "Spooky";}
.starcraft {    font-family: "Starcraft";}
.starjedi {    font-family: "Starjedi";}
.tesla {    font-family: "TESLA";}
.transformers {    font-family: "Transformers";}
.valorant {    font-family: "Valorant";}


@font-face {
    font-family: "neon";
    src: url(fonts/Neon.ttf) ;
}


@font-face {
    font-family: "avengers";
    src: url(fonts/avengers.ttf);
}


@font-face {
    font-family: "BTTF";
    src: url(fonts/BTTF.ttf);
}

@font-face {
    font-family: "christmas";
    src: url(fonts/CHRISTMAS.otf);
}

@font-face {
    font-family: "cs";
    src: url(fonts/cs_regular.ttf);
}

@font-face {
    font-family: "squids";
    src: url(fonts/Squids.ttf);
}

@font-face {
    font-family: "spaceF";
    src: url(fonts/space.ttf);
}

@font-face {
    font-family: "spooky";
    src: url(fonts/Spooky.ttf);
}

@font-face {
    font-family: "starcraft";
    src: url(fonts/Starcraft.ttf);
}

@font-face {
    font-family: "starjedi";
    src: url(fonts/Starjedi.ttf);
}

@font-face {
    font-family: "tesla";
    src: url(fonts/TESLA.ttf);
}

@font-face {
    font-family: "transformers";
    src: url(fonts/Transformers.ttf);
}

@font-face {
    font-family: "valorant";
    src: url(fonts/Valorant.ttf);
}