.menu {

    transform: translateY(-101%);
}

.menu-transition {
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}
.menu-transition-universal {
    transition: all;
    transition-duration: 20s;
    transition-timing-function: ease-in;
}
